* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: black;
    text-decoration: none;
    font-style: normal;
}

.active {
    color: #6100FF !important;
}

body {
    font-size: 14px;
    background-color: #f0f0f0;
    font-family: "Candara" sans-serif;
    height: 1000px;
}

.nav-link {
    color: black;
    font-weight: 500;
}

.nav-link:hover {
    color: #6100FF;
}

.btn {
    color: #6100FF;
    border: 1px solid #6100FF;
}


.languages a {
    padding-left: 10px;
    padding-right: 10px;
}

.languages a:hover {
    color: blue;
}


.nav-item .nav-link {
    margin-right: 15px;
}


section {
    margin-top: 30px;
}


#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    width: 160px;
    height: 100px;
    margin-left: -80px;
    margin-top: -50px;
    border-radius: 5px;
    background: #1e3f57;
    animation: dot1_ 3s cubic-bezier(0.55, 0.3, 0.24, 0.99) infinite;
}

.loader:nth-child(2) {
    z-index: 11;
    width: 150px;
    height: 90px;
    margin-top: -45px;
    margin-left: -75px;
    border-radius: 3px;
    background: #6100FF;
    animation-name: dot2_;
}

.loader:nth-child(3) {
    z-index: 12;
    width: 40px;
    height: 20px;
    margin-top: 50px;
    margin-left: -20px;
    border-radius: 0 0 5px 5px;
    background: #6100FF;
    animation-name: dot3_;
}

@keyframes dot1_ {

    3%,
    97% {
        width: 160px;
        height: 100px;
        margin-top: -50px;
        margin-left: -80px;
    }

    30%,
    36% {
        width: 80px;
        height: 120px;
        margin-top: -60px;
        margin-left: -40px;
    }

    63%,
    69% {
        width: 40px;
        height: 80px;
        margin-top: -40px;
        margin-left: -20px;
    }
}

@keyframes dot2_ {

    3%,
    97% {
        height: 90px;
        width: 150px;
        margin-left: -75px;
        margin-top: -45px;
    }

    30%,
    36% {
        width: 70px;
        height: 96px;
        margin-left: -35px;
        margin-top: -48px;
    }

    63%,
    69% {
        width: 32px;
        height: 60px;
        margin-left: -16px;
        margin-top: -30px;
    }
}

@keyframes dot3_ {

    3%,
    97% {
        height: 20px;
        width: 40px;
        margin-left: -20px;
        margin-top: 50px;
    }

    30%,
    36% {
        width: 8px;
        height: 8px;
        margin-left: -5px;
        margin-top: 49px;
        border-radius: 8px;
    }

    63%,
    69% {
        width: 16px;
        height: 4px;
        margin-left: -8px;
        margin-top: -37px;
        border-radius: 10px;
    }
}


footer {
    margin-top: 150px;
}


.section-header h2 {
    font-weight: bolder;
    color: #6100FF;
    text-align: center;
}


.section-header p {
    text-align: center;
    font-size: 20px;
    color: #222;
}



.main-section {
    position: relative;
    background: url('../img/Charcoal\ Abstract\ Liquid\ Illustration\ Desktop\ Wallpaper.png') no-repeat center center;
    background-size: cover;
    padding: 50px 0;
    /* Высота секции на полный экран */
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Полупрозрачная черная заливка */
    z-index: 1;
}

.container {
    position: relative;
    z-index: 2;
}

.breadcrumb {
    justify-content: center;
    align-items: center;
}


.breadcrumb .breadcrumb-item a {
    font-size: 20px;
    color: white;
}

.breadcrumb .breadcrumb-item a:hover {
    opacity: 0.8;
}