* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: black;
    text-decoration: none;
    font-style: normal;
}


body {
    font-size: 14px;
    background-color: #f0f0f0;
    font-family: "Candara" sans-serif;

    height: 1000px;
}

.nav-link {
    color: black;
    font-weight: 500;
}

.nav-link:hover {
    color: #6100FF;
}

.btn {
    color: #6100FF;
    border: 1px solid #6100FF;
}


.languages a {
    padding-left: 10px;
    padding-right: 10px;
}

.languages a:hover {
    color: blue;
}


.nav-item .nav-link {
    margin-right: 15px;
}


section {
    margin-top: 30px;
}


.active {
    color: #6100FF !important;
}

:root {
    --index: calc(1vw + 1vh);
    --transition: cubic-bezier(.1, .7, 0, 1);
    --hue: 223;
    --bg: hsl(var(--hue), 10%, 90%);
    --fg: hsl(var(--hue), 10%, 10%);
    --primary: hsl(var(--hue), 90%, 55%);
    --trans-dur: 0.3s;
    font-size: calc(16px + (24 - 16) * (100vw - 320px) / (1280 - 320));
}



.wrapper1 {
    display: flex;

    align-items: center;
    justify-content: center;
    min-height: 50vh;
}

.items1 {
    display: flex;
    gap: 0.4rem;
    perspective: calc(var(--index) * 35);
}

.item1 {
    width: calc(var(--index) * 3);
    height: calc(var(--index) * 12);
    background-color: #222;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    filter: grayscale(1) brightness(.5);
    transition: transform 1.25s var(--transition), filter 3s var(--transition), width 1.25s var(--transition);
    will-change: transform, filter, rotateY, width;
}

.item1::before,
.item1::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 20px;
    right: calc(var(--index) * -1);
}

.item1::after {
    left: calc(var(--index) * -1);
}

.items1 .item1:hover {
    filter: inherit;
    transform: translateZ(calc(var(--index) * 10));
}

/*Right*/

.items1 .item1:hover+* {
    filter: inherit;
    transform: translateZ(calc(var(--index) * 8.5)) rotateY(35deg);
    z-index: -1;
}

.items1 .item1:hover+*+* {
    filter: inherit;
    transform: translateZ(calc(var(--index) * 5.6)) rotateY(40deg);
    z-index: -2;
}

.items1 .item1:hover+*+*+* {
    filter: inherit;
    transform: translateZ(calc(var(--index) * 2.5)) rotateY(30deg);
    z-index: -3;
}

.items1 .item1:hover+*+*+*+* {
    filter: inherit;
    transform: translateZ(calc(var(--index) * .6)) rotateY(15deg);
    z-index: -4;
}


/*Left*/

.items1 .item1:has(+ :hover) {
    filter: inherit;
    transform: translateZ(calc(var(--index) * 8.5)) rotateY(-35deg);
}

.items1 .item1:has(+ * + :hover) {
    filter: inherit;
    transform: translateZ(calc(var(--index) * 5.6)) rotateY(-40deg);
}

.items1 .item1:has(+ * + * + :hover) {
    filter: inherit;
    transform: translateZ(calc(var(--index) * 2.5)) rotateY(-30deg);
}

.items1 .item1:has(+ * + * + * + :hover) {
    filter: inherit;
    transform: translateZ(calc(var(--index) * .6)) rotateY(-15deg);
}

.items1 .item1:active,
.items1 .item1:focus {
    width: 28vw;
    filter: inherit;
    z-index: 100;
    transform: translateZ(calc(var(--index) * 10));
    margin: 0 .45vw;
}


.main-text {
    font-size: 62px;
}


.main-img {
    width: 80%;
    justify-content: left;
    align-items: center;
}

.main-img-con {
    justify-content: center;
    align-items: center;
    text-align: center;
}


.button_link {
    background: rgb(97, 0, 255);
    color: white;
    padding: 12px;
    transition: all 0.4s ease;
    margin-left: 12px;
    border-radius: 10px;
}

.button_link:hover {
    background: white;
    color: #6100FF;
}

.button_link i {
    font-size: 24px;

}

@media screen and (max-width: 1024px) {
    .main-section .main-text {
        font-size: 32px;
    }

}

@media screen and (max-width: 769px) {
    .main-section .row {
        flex-direction: column-reverse !important;
    }

    .main-section .main-text {
        text-align: center;
        margin-top: 15px;
    }

    .main-section .d-flex {
        justify-content: space-evenly;
    }
}

.slider-sections {
    margin-top: 150px;
}

.section-header h2 {
    font-weight: bolder;
    color: #6100FF;
    text-align: center;
}


.section-header p {
    text-align: center;
    font-size: 20px;
    color: #222;
}


.about-col-img {
    background-color: #000000;
    padding-top: 15px;
    border-radius: 200px 0 200px 200px;
}

.about-us-icons {
    flex-direction: column;
    width: 60%;
}

.about-us-icons .about-icon {
    justify-content: left;
    align-items: flex-start;
}


.about-icon {
    background-color: #6100FF;
    padding: 15px;
    font-size: 18px;
    border-radius: 20px;
    color: white;
    transition: all 0.4s ease;
}


.about-icon:hover {
    background-color: #FDF9F0;
    color: #6100FF;
}

.about-us-icons .about-icon span {
    text-transform: uppercase;
    align-items: center;
    font-size: 15px;
    padding-left: 10px;
    justify-content: center;
    font-weight: bold;
}



@media screen and (max-width: 1200px) {

    .about-us-icons .about-icon span {
        font-size: 12px;
        padding-left: 10px;
    }


}


.flight-component {
    --w: min(650px, 90vw);
    width: var(--w);
    display: flex;
    align-items: center;
    padding-top: 150px;
    justify-content: space-between;
    gap: 0.5em;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 200;
    font-size: 1.25rem;
}

/*
  Didn't nest this one, in case I wanted to use the input by itself 
  without the div/span structure (in that case: add width!!)
  */
.flight-component input,
input.flight {
    --bg: #6c6c84;
    --scale: clamp(1, calc(1 + 0.5 * sin(pi * var(--val) / 100)), 2);
    --shadow: clamp(0.15em, calc(1em * sin(pi * var(--val) / 100)), 1em);
    --opacity: clamp(0.2, calc(1 - sin(pi * var(--val) / 100)), 0.4);
    --color: rgb(0 0 0 / var(--opacity));
    --primary: #f0f4fc;
    --secondary: #b55;
    --val: 0;
    --height: 3em;
    appearance: none;
    container-type: inline-size;
    flex: 1;
    height: var(--height);
    border: none;
    /* Firefox adds a default border */
    border-radius: 10em;
    position: relative;
    background:
        radial-gradient(circle at 0.35em 50%, var(--bg) 0.35em, #0000 0) no-repeat,
        radial-gradient(circle at calc(100% - 0.35em) 50%, var(--bg) 0.35em, #0000 0) no-repeat,
        linear-gradient(#0000 45%, var(--bg) 0 55%, #0000 0) 50% 50% / 99% 100%,
        #f000;
    border: 0;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;

    /* 
    the ::before and ::after won't work on Firefox for input range,
    so only use for decoration on the other browsers 
    */
    &::before {
        content: "";
        width: calc(var(--val) * 1%);
        min-width: 0.5em;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background:
            radial-gradient(circle at 0.35em 50%, #000 0.35em, #0000 0) no-repeat,
            linear-gradient(#0000 45%, #000 0 55%, #0000 0) 50% 50% / calc(100% - 1em) 100% no-repeat,
            #f000;
    }

    &::after {
        content: "";
        width: 100%;
        height: 12em;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
        pointer-events: none;
        background:
            /* cloud 1 */
            radial-gradient(3% 20% at 50% 20%, #fff 40%, #0000 0),
            radial-gradient(3% 20% at 52.5% 13%, #fff 40%, #0000 0),
            radial-gradient(2% 20% at 51% 10%, #fff 40%, #0000 0),
            radial-gradient(2.5% 20% at 51.5% 27%, #fff 50%, #0000 0),
            radial-gradient(2% 20% at 53% 23%, #fff 60%, #0000 0),
            radial-gradient(4% 40% at 55% 20%, #fff 40%, #0000 0),
            /* cloud 2 */
            radial-gradient(3% 20% at 40% 80%, #fff 40%, #0000 0),
            radial-gradient(3% 20% at 42.5% 87%, #fff 40%, #0000 0),
            radial-gradient(2% 20% at 41% 90%, #fff 40%, #0000 0),
            radial-gradient(2.5% 20% at 41.5% 72%, #fff 50%, #0000 0),
            radial-gradient(2% 20% at 43% 73%, #fff 60%, #0000 0),
            radial-gradient(4% 40% at 40% 78%, #fff 40%, #0000 0);
        background-size: 300% 100%;
        background-position: calc(var(--val) * 1%) 0;
        -webkit-mask: linear-gradient(90deg, #0000, #0008 35% 65%, #0000);
        mask: linear-gradient(90deg, #0000, #0008 35% 65%, #0000);
    }

    /* track for Chrome and Safari (Firefox is ok) */
    &::-webkit-slider-runnable-track {
        height: 100%;
        /* so the plane is above the clouds */
        position: relative;
        z-index: 1;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }


    /* Thumb for Chrome and Safari */
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        /* Override default look */
        appearance: none;
        transform: translateY(calc(-50% + var(--height) / 2)) scale(var(--scale));
        width: 4em;
        aspect-ratio: 1;
        pointer-events: none;
        background:
            linear-gradient(var(--secondary) 0 0) 2% 50% / 13% 2.5% no-repeat,
            /* main frame */
            conic-gradient(at -40% 50%, #0000 84.75deg, var(--primary) 85deg 95deg, #0000 95.25deg) 0 0 / 80% 100%,
            /* pilot */
            radial-gradient(closest-side circle at calc(100% - 0.85em) 50%, #9cf 0.3em, #0000 0),
            radial-gradient(20% 10% at 80% 50%, var(--primary) 99%, #0000),
            /* tail */
            conic-gradient(at 45% -45%, #0000 150deg, var(--secondary) 151deg 174deg, #0000 175deg) -50% 40% / 53% 20%,
            conic-gradient(at 45% 145%, #0000 5deg, var(--secondary) 6deg 29deg, #0000 30deg) -50% 60% / 53% 20%,
            /* wings */
            conic-gradient(at 38% -45%, #0000 158deg, var(--secondary) 158.5deg 174deg, #0000 174.5deg) 0 0 / 100% 50%,
            conic-gradient(at 38% 145%, #0000 5deg, var(--secondary) 5.5deg 21deg, #0000 21.5deg) 0 100% / 100% 50%,
            /* engines */
            radial-gradient(80% 50%, #000 99%, #0000) 51% 22% / 21% 11%,
            radial-gradient(80% 50%, #000 99%, #0000) 51% 78% / 21% 11%;
        background-repeat: no-repeat;
        border-radius: 20% / 100%;
        filter: drop-shadow(calc(var(--shadow) * 2) calc(var(--shadow) * 1.25) var(--shadow) var(--color));
        box-shadow: none;
        /* Safari adds a box-shadow when using drop-shadow on iOS, remove manually */
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

    /* Thumb for Firefox */
    &::-moz-range-thumb {
        -webkit-appearance: none;
        /* Override default look */
        appearance: none;
        transform: scale(var(--scale));
        width: 4em;
        height: 4em;
        border: none;
        pointer-events: none;
        background:
            linear-gradient(var(--secondary) 0 0) 2% 50% / 13% 2.5% no-repeat,
            /* main frame */
            conic-gradient(at -40% 50%, #0000 84.75deg, var(--primary) 85deg 95deg, #0000 95.25deg) 0 0 / 80% 100%,
            /* pilot */
            radial-gradient(closest-side circle at calc(100% - 0.85em) 50%, #9cf 0.3em, #0000 0),
            radial-gradient(20% 10% at 80% 50%, var(--primary) 99%, #0000),
            /* tail */
            conic-gradient(at 45% -45%, #0000 150deg, var(--secondary) 151deg 174deg, #0000 175deg) -50% 40% / 53% 20%,
            conic-gradient(at 45% 145%, #0000 5deg, var(--secondary) 6deg 29deg, #0000 30deg) -50% 60% / 53% 20%,
            /* wings */
            conic-gradient(at 38% -45%, #0000 158deg, var(--secondary) 158.5deg 174deg, #0000 174.5deg) 0 0 / 100% 50%,
            conic-gradient(at 38% 145%, #0000 5deg, var(--secondary) 5.5deg 21deg, #0000 21.5deg) 0 100% / 100% 50%,
            /* engines */
            radial-gradient(80% 50%, #000 99%, #0000) 51% 22% / 21% 11%,
            radial-gradient(80% 50%, #000 99%, #0000) 51% 78% / 21% 11%;
        background-repeat: no-repeat;
        border-radius: 20% / 100%;
        filter: drop-shadow(calc(var(--shadow) * 2) calc(var(--shadow) * 1.25) var(--shadow) var(--color));
        box-shadow: none;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
}


@media (prefers-contrast: more) {

    .flight-component input,
    input.flight {

        &::-webkit-slider-runnable-track {
            border: 2px solid #666;
            height: 0;
        }

        &::-webkit-slider-thumb {
            transform: translateY(-50%) scale(var(--scale));
            box-sizing: border-box;
            border: 2em solid Highlight;
            clip-path: polygon(0.00% 47.00%, 3.00% 46.62%, 0.88% 31.62%, 5.38% 31.25%, 13.38% 45.75%, 44.38% 42.50%, 43.00% 29.50%, 40.25% 29.00%, 40.00% 21.50%, 42.75% 20.88%, 40.00% 0.00%, 47.12% 0.12%, 55.00% 19.88%, 60.88% 19.88%, 60.88% 29.12%, 58.88% 29.38%, 63.75% 40.62%, 81.75% 39.75%, 88.00% 40.38%, 93.00% 42.00%, 97.25% 44.38%, 99.25% 46.62%, 100.00% 50.00%, 99.25% 53.38%, 97.25% 55.62%, 93.00% 58.00%, 88.00% 59.62%, 81.75% 60.25%, 63.75% 59.38%, 58.88% 70.62%, 60.88% 70.88%, 60.88% 80.12%, 55.00% 80.12%, 47.12% 100.00%, 40.00% 100.00%, 42.75% 79.12%, 40.00% 78.50%, 40.25% 71.00%, 43.00% 70.50%, 44.38% 57.50%, 13.38% 54.25%, 5.38% 68.75%, 0.88% 68.38%, 3.00% 53.38%, 0.00% 53.00%);
        }

        &::-moz-range-track {
            border: 2px solid #000;
            height: 0;
        }

        &::-moz-range-thumb {
            box-sizing: border-box;
            border: 2em solid Highlight;
            clip-path: polygon(0.00% 47.00%, 3.00% 46.62%, 0.88% 31.62%, 5.38% 31.25%, 13.38% 45.75%, 44.38% 42.50%, 43.00% 29.50%, 40.25% 29.00%, 40.00% 21.50%, 42.75% 20.88%, 40.00% 0.00%, 47.12% 0.12%, 55.00% 19.88%, 60.88% 19.88%, 60.88% 29.12%, 58.88% 29.38%, 63.75% 40.62%, 81.75% 39.75%, 88.00% 40.38%, 93.00% 42.00%, 97.25% 44.38%, 99.25% 46.62%, 100.00% 50.00%, 99.25% 53.38%, 97.25% 55.62%, 93.00% 58.00%, 88.00% 59.62%, 81.75% 60.25%, 63.75% 59.38%, 58.88% 70.62%, 60.88% 70.88%, 60.88% 80.12%, 55.00% 80.12%, 47.12% 100.00%, 40.00% 100.00%, 42.75% 79.12%, 40.00% 78.50%, 40.25% 71.00%, 43.00% 70.50%, 44.38% 57.50%, 13.38% 54.25%, 5.38% 68.75%, 0.88% 68.38%, 3.00% 53.38%, 0.00% 53.00%);
        }
    }
}

/* the clouds look bad in smaller screens, hide them */
@container (max-width: 400px) {

    .flight-component input,
    input.flight {
        &::after {
            display: none;
        }

        /* replace the place with a helicopter */
        &::-webkit-slider-thumb {
            width: 3em;
            background:
                /* rotors */
                radial-gradient(closest-side circle at 50% 50%, var(--secondary) 10%, #0001 11% 90%, #0000 91%) 100% 50% / 90% 90%,
                radial-gradient(closest-side circle at 50% 50%, #0000 0 20%, #0001 0 40%, #0000 0 60%, #0001 0 80%, #0000 0) 100% 50% / 91% 91%,
                /* main frame */
                conic-gradient(at -65% 50%, #0000 84.75deg, var(--primary) 85deg 95deg, #0000 95.25deg) 0 0 / 80% 100%,
                /* pilot */
                radial-gradient(farthest-side circle at calc(100% - 0.5em) 50%, #9cf 0.4em, #0000 0),
                radial-gradient(25% 20% at 75% 50%, var(--primary) 99%, #0000),
                /* tail */
                conic-gradient(at 45% -45%, #0000 150deg, var(--secondary) 151deg 174deg, #0000 175deg) -49% 40% / 53% 25%,
                conic-gradient(at 45% 145%, #0000 5deg, var(--secondary) 6deg 29deg, #0000 30deg) -49% 60% / 53% 25%,
                /* legs? */
                linear-gradient(#000 0 0) 100% 33% / 60% 4%,
                linear-gradient(#000 0 0) 100% 67% / 60% 4%;
            background-repeat: no-repeat;
        }

        &::-moz-range-thumb {
            width: 3em;
            height: 3em;
            background:
                /* rotors */
                radial-gradient(closest-side circle at 55% 50%, var(--secondary) 10%, #0001 11% 90%, #0000 91%),
                radial-gradient(closest-side circle at 50% 50%, #0000 0 20%, #0001 0 40%, #0000 0 60%, #0001 0 80%, #0000 0) 50% 50% / 91% 91%,
                /* main frame */
                conic-gradient(at -65% 50%, #0000 84.75deg, var(--primary) 85deg 95deg, #0000 95.25deg) 0 0 / 80% 100%,
                /* pilot */
                radial-gradient(farthest-side circle at calc(100% - 0.5em) 50%, #9cf 0.4em, #0000 0),
                radial-gradient(25% 20% at 75% 50%, var(--primary) 99%, #0000),
                /* tail */
                conic-gradient(at 45% -45%, #0000 150deg, var(--secondary) 151deg 174deg, #0000 175deg) -49% 40% / 53% 25%,
                conic-gradient(at 45% 145%, #0000 5deg, var(--secondary) 6deg 29deg, #0000 30deg) -49% 60% / 53% 25%,
                /* legs? */
                linear-gradient(#000 0 0) 100% 33% / 60% 4%,
                linear-gradient(#000 0 0) 100% 67% / 60% 4%;
            background-repeat: no-repeat;
        }
    }
}


@media screen and (max-width: 1440px) {
    .flight-component {
        --w: min(540px, 90vw);
    }
}



@media screen and (max-width: 1024px) {
    .flight-component {
        --w: min(450px, 90vw);
    }
}


@media screen and (max-width: 768px) {
    .about-columns {
        flex-direction: column;
    }

    .about-icon {
        width: 650px;
    }

    .flight-component {
        padding: 0 150px;
    }
}



@media screen and (max-width: 767px) {

    .about-icon {
        width: 500px;
    }

    .flight-component {
        padding: 0 50px;
    }
}


@media screen and (max-width: 525px) {

    .about-icon {
        width: 450px;
    }

    .flight-component {
        padding: 0 50px;
    }
}

@media screen and (max-width: 479px) {

    .about-icon {
        width: 400px;
    }

    .flight-component {
        padding: 0 50px;
    }
}


@media screen and (max-width: 425px) {

    .about-icon {
        width: 350px;
    }

    .flight-component {
        padding: 0 50px;
    }
}


@media screen and (max-width: 375px) {

    .about-icon {
        width: 300px;
    }

    .flight-component {
        padding: 0 25px;
    }

    .flight-component {
        font-size: 0.9rem;
    }
}


@media screen and (max-width: 320px) {

    .about-icon {
        width: 260px;
    }

    .flight-component {
        padding: 0 15px;
    }
}

.collection-card {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    perspective: 500px;
    margin: auto;
    padding-left: 30px;

}

.container .box {
    position: relative;
    width: 275px;
    height: 275px;
    background: #000;
    transition: 0.5s;
    transform-style: preserve-3d;
    overflow: hidden;
    margin-right: 15px;
    margin-top: 45px;
}

.container:hover .box {
    transform: rotateY(25deg);
}

.container .box .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container .box .imgBx:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #6200ff79, #6c6c6c89);
    z-index: 1;
    opacity: 0;
    transition: 0.5s;
    mix-blend-mode: multiply;
}

.container .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .box .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    padding: 20px;
    align-items: flex-end;
    box-sizing: border-box;
}

.container .box .content h2 {
    color: #fff;
    transition: 0.5s;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 20px;
    transform: translateY(200px);
    transition-delay: 0.3s;
}

.container .box .content p {
    color: #fff;
    transition: 0.5s;
    font-size: 14px;
    transform: translateY(200px);
    transition-delay: 0.4s;
}

.container .box:hover~.box {
    transform: rotateY(-25deg);
}

.container .box:hover {
    transform: rotateY(0deg) scale(1.25);
    z-index: 1;
    box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
}

.container .box:hover .imgBx:before {
    opacity: 1;
}

.container .box:hover .content h2 {
    transform: translateY(0px);
}

.container .box:hover .content p {
    transform: translateY(0px);
}


#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    width: 160px;
    height: 100px;
    margin-left: -80px;
    margin-top: -50px;
    border-radius: 5px;
    background: #1e3f57;
    animation: dot1_ 3s cubic-bezier(0.55, 0.3, 0.24, 0.99) infinite;
}

.loader:nth-child(2) {
    z-index: 11;
    width: 150px;
    height: 90px;
    margin-top: -45px;
    margin-left: -75px;
    border-radius: 3px;
    background: #6100FF;
    animation-name: dot2_;
}

.loader:nth-child(3) {
    z-index: 12;
    width: 40px;
    height: 20px;
    margin-top: 50px;
    margin-left: -20px;
    border-radius: 0 0 5px 5px;
    background: #6100FF;
    animation-name: dot3_;
}

@keyframes dot1_ {

    3%,
    97% {
        width: 160px;
        height: 100px;
        margin-top: -50px;
        margin-left: -80px;
    }

    30%,
    36% {
        width: 80px;
        height: 120px;
        margin-top: -60px;
        margin-left: -40px;
    }

    63%,
    69% {
        width: 40px;
        height: 80px;
        margin-top: -40px;
        margin-left: -20px;
    }
}

@keyframes dot2_ {

    3%,
    97% {
        height: 90px;
        width: 150px;
        margin-left: -75px;
        margin-top: -45px;
    }

    30%,
    36% {
        width: 70px;
        height: 96px;
        margin-left: -35px;
        margin-top: -48px;
    }

    63%,
    69% {
        width: 32px;
        height: 60px;
        margin-left: -16px;
        margin-top: -30px;
    }
}

@keyframes dot3_ {

    3%,
    97% {
        height: 20px;
        width: 40px;
        margin-left: -20px;
        margin-top: 50px;
    }

    30%,
    36% {
        width: 8px;
        height: 8px;
        margin-left: -5px;
        margin-top: 49px;
        border-radius: 8px;
    }

    63%,
    69% {
        width: 16px;
        height: 4px;
        margin-left: -8px;
        margin-top: -37px;
        border-radius: 10px;
    }
}

footer {
    margin-top: 150px;
}