* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: black;
    text-decoration: none;
    font-style: normal;
}


body {
    font-size: 14px;
    background-color: #FDF9F0;
    font-family: "Candara" sans-serif;

    height: 1000px;
}

.nav-link {
    color: black;
    font-weight: 500;
}

.nav-link:hover {
    color: #6100FF;
}

.btn {
    color: #6100FF;
    border: 1px solid #6100FF;
}


.languages a {
    padding-left: 10px;
    padding-right: 10px;
}

.languages a:hover {
    color: blue;
}


.nav-item .nav-link {
    margin-right: 15px;
}


section {
    margin-top: 30px;
}


.active {
    color: #6100FF !important;
}

:root {
    --index: calc(1vw + 1vh);
    --transition: cubic-bezier(.1, .7, 0, 1);
    --hue: 223;
    --bg: hsl(var(--hue), 10%, 90%);
    --fg: hsl(var(--hue), 10%, 10%);
    --primary: hsl(var(--hue), 90%, 55%);
    --trans-dur: 0.3s;
    font-size: calc(16px + (24 - 16) * (100vw - 320px) / (1280 - 320));
}



.wrapper1 {
    display: flex;

    align-items: center;
    justify-content: center;
    min-height: 50vh;
}

.items1 {
    display: flex;
    gap: 0.4rem;
    perspective: calc(var(--index) * 35);
}

.item1 {
    width: calc(var(--index) * 3);
    height: calc(var(--index) * 12);
    background-color: #222;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    filter: grayscale(1) brightness(.5);
    transition: transform 1.25s var(--transition), filter 3s var(--transition), width 1.25s var(--transition);
    will-change: transform, filter, rotateY, width;
}

.item1::before,
.item1::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 20px;
    right: calc(var(--index) * -1);
}

.item1::after {
    left: calc(var(--index) * -1);
}

.items1 .item1:hover {
    filter: inherit;
    transform: translateZ(calc(var(--index) * 10));
}

/*Right*/

.items1 .item1:hover+* {
    filter: inherit;
    transform: translateZ(calc(var(--index) * 8.5)) rotateY(35deg);
    z-index: -1;
}

.items1 .item1:hover+*+* {
    filter: inherit;
    transform: translateZ(calc(var(--index) * 5.6)) rotateY(40deg);
    z-index: -2;
}

.items1 .item1:hover+*+*+* {
    filter: inherit;
    transform: translateZ(calc(var(--index) * 2.5)) rotateY(30deg);
    z-index: -3;
}

.items1 .item1:hover+*+*+*+* {
    filter: inherit;
    transform: translateZ(calc(var(--index) * .6)) rotateY(15deg);
    z-index: -4;
}


/*Left*/

.items1 .item1:has(+ :hover) {
    filter: inherit;
    transform: translateZ(calc(var(--index) * 8.5)) rotateY(-35deg);
}

.items1 .item1:has(+ * + :hover) {
    filter: inherit;
    transform: translateZ(calc(var(--index) * 5.6)) rotateY(-40deg);
}

.items1 .item1:has(+ * + * + :hover) {
    filter: inherit;
    transform: translateZ(calc(var(--index) * 2.5)) rotateY(-30deg);
}

.items1 .item1:has(+ * + * + * + :hover) {
    filter: inherit;
    transform: translateZ(calc(var(--index) * .6)) rotateY(-15deg);
}

.items1 .item1:active,
.items1 .item1:focus {
    width: 28vw;
    filter: inherit;
    z-index: 100;
    transform: translateZ(calc(var(--index) * 10));
    margin: 0 .45vw;
}


.main-text {
    font-size: 62px;
}


.main-img {
    width: 80%;
    justify-content: left;
    align-items: center;
}

.main-img-con {
    justify-content: center;
    align-items: center;
    text-align: center;
}


.button_link {
    background: rgb(97, 0, 255);
    color: white;
    padding: 12px;
    transition: all 0.4s ease;
    margin-left: 12px;
    border-radius: 10px;
}

.button_link:hover {
    background: white;
    color: #6100FF;
}

.button_link i {
    font-size: 24px;

}

@media screen and (max-width: 1024px) {
    .main-section .main-text {
        font-size: 32px;
    }

}

@media screen and (max-width: 769px) {
    .main-section .row {
        flex-direction: column-reverse !important;
    }

    .main-section .main-text {
        text-align: center;
        margin-top: 15px;
    }

    .main-section .d-flex {
        justify-content: space-evenly;
    }
}

.slider-sections {
    margin-top: 150px;
}

.section-header h2 {
    font-weight: bolder;
    color: #6100FF;
    text-align: center;
}


.section-header p {
    text-align: center;
    font-size: 20px;
    color: #222;
}


.about-first-col p {
    width: 70%;
    font-size: 17px;
}

.about-col-img {
    background-color: #000000;
    padding-top: 15px;
    border-radius: 200px 0 200px 200px;
}

.about-us-icons {
    flex-direction: column;
    width: 60%;

}

.about-us-icons .about-icon {
    justify-content: left;
    align-items: flex-start;
}


.about-icon {
    background-color: #6100FF;
    padding: 15px;
    font-size: 18px;
    border-radius: 20px;
    color: white;
    transition: all 0.4s ease;
}


.about-icon:hover {
    background-color: #FDF9F0;
    color: #6100FF;
}

.about-us-icons .about-icon span {
    text-transform: uppercase;
    align-items: center;
    font-size: 15px;
    padding-left: 10px;
    justify-content: center;
    font-weight: bold;
}