.activated {
    color: #6100FF;
}

.card-body {
    padding: 15px !important;
}

.card {
    width: 100%;
}

.iconn {
    color: #2b41c0;
    font-size: 35px;
    margin-bottom: 10px;
}

.card-category {
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 30px;
    padding: 20px;
}

.card-category:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}


.card-category:hover>.card-body i {
    color: black;
}

.card-category:hover>.card-body .card-title {
    color: #6100FF;
}

.card-category i {
    font-size: 30px;
    color: #6100FF;
    margin-bottom: 15px;
}

.card-category .card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-category .card-text {
    font-size: 14px;
    margin-bottom: 15px;
}



.contact-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    /* You can choose your desired background color */
    padding: 10px 20px;
    margin: 10px 0;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    color: #6100FF;
    border: 1px solid #6100FF;
    /* Text color */
    width: fit-content;
}

.contact-button:hover {
    background-color: #6100FF;
    /* Background color on hover */
    color: white;
    /* Text color on hover */
}

.contact-button i {
    margin-left: 10px;
    font-size: 24px;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.contact-text {
    margin: 0;
}